# Compiled objects and executables
*.o
*.a
*.so
*.dll
*.exe

# Build artifacts
*.out
*.d
*.gch
*.pch

# IDE-specific files
.DS_Store
Thumbs.db
*.suo
*.ncb

# Temporary and log files
*.tmp
*.log
core
.vscode
build
bochsrc.txt
bochsout.txt
.json 
setitimer-helper
squish-pty
squish-unix
dryrun.log
launch.json
settings.json
targets.log
configurationCache.log
c_cpp_properties.json
